In [1]:
from datetime import datetime

In [9]:
from datetime import timedelta

In [21]:
from dateutil.parser import parse

In [26]:
import pandas as pd
from pandas import Series, DataFrame

In [77]:
from pandas.tseries.offsets import Hour, Minute

In [94]:
from pandas.tseries.offsets import Day, MonthEnd

In [33]:
import numpy as np

In [110]:
import pytz

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2019, 3, 15, 20, 47, 20, 47414)

In [4]:
now.year, now.month, now.day

(2019, 3, 15)

In [5]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [6]:
delta

datetime.timedelta(days=926, seconds=56700)

In [7]:
delta.days

926

In [8]:
delta.seconds

56700

In [10]:
start = datetime(2011, 1, 7)

In [11]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [12]:
start - 2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [13]:
stamp = datetime(2011, 1, 3)

In [14]:
str(stamp)

'2011-01-03 00:00:00'

In [15]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [16]:
value = '2001-01-03'

In [17]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2001, 1, 3, 0, 0)

In [18]:
datestrs = ['7/6/2011', '8/6/2011']

In [20]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [22]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [23]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [24]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [25]:
datestrs = ['2011-07-06 12:00:00','2011-08-06 00:00:00']

In [27]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [28]:
idx = pd.to_datetime(datestrs + [ None ])

In [29]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [30]:
idx[2]

NaT

In [31]:
pd.isnull(idx)

array([False, False,  True])

In [32]:
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),
        datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]

In [34]:
ts = Series(np.random.randn(6), index=dates)

In [35]:
ts

2011-01-02    0.159922
2011-01-05    0.730815
2011-01-07   -0.315554
2011-01-08   -1.278903
2011-01-10    0.611757
2011-01-12    0.699297
dtype: float64

In [36]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [37]:
ts + ts[::2]

2011-01-02    0.319843
2011-01-05         NaN
2011-01-07   -0.631107
2011-01-08         NaN
2011-01-10    1.223514
2011-01-12         NaN
dtype: float64

In [38]:
ts.index.dtype

dtype('<M8[ns]')

In [39]:
stamp = ts.index[0]

In [40]:
stamp

Timestamp('2011-01-02 00:00:00')

In [41]:
stamp = ts.index[2]

In [42]:
ts[stamp]

-0.3155536576433482

In [43]:
ts[ '1/10/2011' ]

0.6117568876483102

In [44]:
ts[ '20110110' ]

0.6117568876483102

In [45]:
longer_ts = Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))

In [46]:
longer_ts.head()

2000-01-01   -0.652150
2000-01-02    0.284531
2000-01-03    0.018196
2000-01-04   -0.148560
2000-01-05    0.337829
Freq: D, dtype: float64

In [48]:
longer_ts.tail()

2002-09-22    0.828324
2002-09-23   -0.549581
2002-09-24   -0.162035
2002-09-25    0.109025
2002-09-26    0.802719
Freq: D, dtype: float64

In [47]:
longer_ts[ '2001' ]

2001-01-01   -0.326189
2001-01-02   -1.726268
2001-01-03   -1.108551
2001-01-04   -0.761314
2001-01-05   -0.177715
2001-01-06   -1.318039
2001-01-07    0.950960
2001-01-08    0.903224
2001-01-09   -0.803048
2001-01-10    1.057701
2001-01-11    0.370880
2001-01-12    0.219969
2001-01-13   -2.067432
2001-01-14    0.812192
2001-01-15    0.614266
2001-01-16    1.106417
2001-01-17   -1.055612
2001-01-18    1.593061
2001-01-19    1.117462
2001-01-20   -1.529112
2001-01-21    0.874717
2001-01-22   -2.310922
2001-01-23   -0.969617
2001-01-24    0.542932
2001-01-25    0.072472
2001-01-26   -0.527031
2001-01-27    1.107043
2001-01-28   -0.125417
2001-01-29    1.139929
2001-01-30    0.029955
                ...
2001-12-02    0.900393
2001-12-03   -0.310121
2001-12-04   -0.299248
2001-12-05   -0.972230
2001-12-06    0.341638
2001-12-07   -0.863106
2001-12-08    2.055043
2001-12-09   -1.117437
2001-12-10    1.901754
2001-12-11   -0.434311
2001-12-12    0.684716
2001-12-13   -1.200158
2001-12-14   -0.544994
2001-12-15   -0.864945
2001-12-16    2.027660
2001-12-17   -1.929022
2001-12-18   -0.895989
2001-12-19   -0.526521
2001-12-20    0.412177
2001-12-21    0.642396
2001-12-22   -1.364559
2001-12-23    0.861793
2001-12-24    0.076816
2001-12-25   -0.696647
2001-12-26    1.273962
2001-12-27   -1.319156
2001-12-28   -0.977983
2001-12-29   -0.156131
2001-12-30    0.387039
2001-12-31   -0.331582
Freq: D, Length: 365, dtype: float64

In [49]:
longer_ts[ '2001-05' ]

2001-05-01    2.126699
2001-05-02    0.411139
2001-05-03    0.059369
2001-05-04   -0.627850
2001-05-05    1.004102
2001-05-06    1.241345
2001-05-07   -0.276506
2001-05-08    0.592605
2001-05-09    1.478300
2001-05-10    0.954844
2001-05-11   -0.398063
2001-05-12    0.019320
2001-05-13   -0.526927
2001-05-14   -1.084186
2001-05-15   -0.006387
2001-05-16   -1.755455
2001-05-17    0.840864
2001-05-18    0.908336
2001-05-19   -0.735310
2001-05-20    0.509201
2001-05-21    0.275688
2001-05-22    0.566180
2001-05-23   -0.206879
2001-05-24   -0.660691
2001-05-25   -0.463866
2001-05-26    2.627613
2001-05-27   -1.816174
2001-05-28    0.145187
2001-05-29   -1.685749
2001-05-30    0.239355
2001-05-31   -0.581003
Freq: D, dtype: float64

In [50]:
ts[ datetime(2011, 1, 7): ]

2011-01-07   -0.315554
2011-01-08   -1.278903
2011-01-10    0.611757
2011-01-12    0.699297
dtype: float64

In [51]:
ts

2011-01-02    0.159922
2011-01-05    0.730815
2011-01-07   -0.315554
2011-01-08   -1.278903
2011-01-10    0.611757
2011-01-12    0.699297
dtype: float64

In [52]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.315554
2011-01-08   -1.278903
2011-01-10    0.611757
dtype: float64

In [53]:
ts.truncate(after='1/9/2011')

2011-01-02    0.159922
2011-01-05    0.730815
2011-01-07   -0.315554
2011-01-08   -1.278903
dtype: float64

In [54]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [55]:
long_df =pd.DataFrame(np.random.randn(100,4),index=dates,columns = ['colorado','texas','new york','ohio'])

In [56]:
long_df.loc['5-2001']

            colorado     texas  new york      ohio
2001-05-02  1.023915 -2.373437 -1.247358  0.392012
2001-05-09  1.278943 -0.088795 -0.947360  0.596230
2001-05-16 -0.752097 -0.504396 -0.351417 -1.695370
2001-05-23 -0.790025  1.947463  0.580501  0.263757
2001-05-30  1.260969  0.649443  0.561933  0.101202

In [58]:
dates = pd.DatetimeIndex([ '1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000' ])

In [59]:
dup_ts = Series(np.arange(5), index=dates)

In [61]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [62]:
dup_ts.index.is_unique

False

In [63]:
dup_ts[ '1/3/2000' ]

4

In [64]:
dup_ts[ '1/2/2000' ]

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [65]:
grouped = dup_ts.groupby(level=0)

In [66]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [67]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [68]:
ts

2011-01-02    0.159922
2011-01-05    0.730815
2011-01-07   -0.315554
2011-01-08   -1.278903
2011-01-10    0.611757
2011-01-12    0.699297
dtype: float64

In [69]:
resampler = ts.resample('D')

In [70]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [71]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [72]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [73]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [74]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [75]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [78]:
hour = Hour()

In [79]:
hour

In [80]:
four_hours = Hour(4)

In [81]:
four_hours

In [82]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [83]:
Hour(2) + Minute(30)

In [84]:
pd.date_range('2000-1-1', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [85]:
rng = pd.date_range('2012-1-1', '2012-9-1', freq='WOM-3FRI')

In [86]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [87]:
ts = Series(np.random.randn(4), index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [88]:
ts

2000-01-31    0.174694
2000-02-29    1.303243
2000-03-31   -1.420485
2000-04-30    0.011362
Freq: M, dtype: float64

In [89]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.174694
2000-04-30    1.303243
Freq: M, dtype: float64

In [90]:
ts.shift(-2)

2000-01-31   -1.420485
2000-02-29    0.011362
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [91]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29    6.460126
2000-03-31   -2.089962
2000-04-30   -1.007999
Freq: M, dtype: float64

In [92]:
ts.shift(2, freq='M')

2000-03-31    0.174694
2000-04-30    1.303243
2000-05-31   -1.420485
2000-06-30    0.011362
Freq: M, dtype: float64

In [93]:
ts.shift(3, freq='90T')

2000-01-31 04:30:00    0.174694
2000-02-29 04:30:00    1.303243
2000-03-31 04:30:00   -1.420485
2000-04-30 04:30:00    0.011362
Freq: M, dtype: float64

In [95]:
now = datetime(2011, 11, 17)

In [97]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [98]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [101]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [103]:
offset = MonthEnd()

In [104]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [105]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [106]:
ts = Series(np.random.randn(20), index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [107]:
ts

2000-01-15   -0.862678
2000-01-19    1.078716
2000-01-23   -0.885833
2000-01-27   -0.550450
2000-01-31   -1.268958
2000-02-04    1.072412
2000-02-08   -0.916231
2000-02-12    0.623341
2000-02-16    0.069354
2000-02-20    0.677566
2000-02-24    0.306864
2000-02-28   -0.980866
2000-03-03   -2.012966
2000-03-07    0.039568
2000-03-11    0.530197
2000-03-15    0.577220
2000-03-19   -1.399027
2000-03-23    2.694867
2000-03-27    1.181804
2000-03-31   -0.422483
Freq: 4D, dtype: float64

In [108]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.497840
2000-02-29    0.121777
2000-03-31    0.148647
dtype: float64

In [109]:
ts.resample('M').mean()

2000-01-31   -0.497840
2000-02-29    0.121777
2000-03-31    0.148647
Freq: M, dtype: float64

In [111]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [112]:
tz = pytz.timezone('America/New_York')

In [113]:
tz

In [114]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')

In [115]:
ts = Series(np.random.randn(len(rng)), index=rng)

In [116]:
ts

2012-03-09 09:30:00   -0.277661
2012-03-10 09:30:00    2.463743
2012-03-11 09:30:00    1.491956
2012-03-12 09:30:00   -0.948347
2012-03-13 09:30:00   -1.184948
2012-03-14 09:30:00   -1.598220
Freq: D, dtype: float64

In [117]:
print(ts.index.tz)

None

In [118]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [119]:
ts

2012-03-09 09:30:00   -0.277661
2012-03-10 09:30:00    2.463743
2012-03-11 09:30:00    1.491956
2012-03-12 09:30:00   -0.948347
2012-03-13 09:30:00   -1.184948
2012-03-14 09:30:00   -1.598220
Freq: D, dtype: float64

In [120]:
ts_utc = ts.tz_localize('UTC')

In [121]:
ts_utc

2012-03-09 09:30:00+00:00   -0.277661
2012-03-10 09:30:00+00:00    2.463743
2012-03-11 09:30:00+00:00    1.491956
2012-03-12 09:30:00+00:00   -0.948347
2012-03-13 09:30:00+00:00   -1.184948
2012-03-14 09:30:00+00:00   -1.598220
Freq: D, dtype: float64

In [122]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [123]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -0.277661
2012-03-10 04:30:00-05:00    2.463743
2012-03-11 05:30:00-04:00    1.491956
2012-03-12 05:30:00-04:00   -0.948347
2012-03-13 05:30:00-04:00   -1.184948
2012-03-14 05:30:00-04:00   -1.598220
Freq: D, dtype: float64

In [124]:
ts_eastern = ts.tz_localize('America/New_York')

In [125]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.277661
2012-03-10 14:30:00+00:00    2.463743
2012-03-11 13:30:00+00:00    1.491956
2012-03-12 13:30:00+00:00   -0.948347
2012-03-13 13:30:00+00:00   -1.184948
2012-03-14 13:30:00+00:00   -1.598220
Freq: D, dtype: float64

In [126]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -0.277661
2012-03-10 15:30:00+01:00    2.463743
2012-03-11 14:30:00+01:00    1.491956
2012-03-12 14:30:00+01:00   -0.948347
2012-03-13 14:30:00+01:00   -1.184948
2012-03-14 14:30:00+01:00   -1.598220
Freq: D, dtype: float64

In [127]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

In [128]:
stamp = pd.Timestamp('2011-3-12 4:00')

In [129]:
stamp_utc = stamp.tz_localize('UTC')

In [130]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [131]:
stamp_moscow = pd.Timestamp('2011-3-12 4:00', tz='Europe/Moscow')

In [132]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [133]:
stamp_utc.value

1299902400000000000

In [134]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [135]:
stamp = pd.Timestamp('2012-3-12 1:30', tz='US/Eastern')

In [136]:
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [137]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [138]:
stamp = pd.Timestamp('2012-11-4 0:30', tz='US/Eastern')

In [139]:
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [140]:
stamp + 2*Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

In [141]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')

In [142]:
ts = Series(np.random.randn(len(rng)), index=rng)

In [143]:
ts

2012-03-07 09:30:00   -0.321833
2012-03-08 09:30:00    0.420533
2012-03-09 09:30:00   -1.675479
2012-03-12 09:30:00    1.044238
2012-03-13 09:30:00   -0.667653
2012-03-14 09:30:00   -0.700270
2012-03-15 09:30:00    2.130555
2012-03-16 09:30:00    0.364765
2012-03-19 09:30:00    0.634206
2012-03-20 09:30:00    0.799845
Freq: B, dtype: float64

In [145]:
ts1 = ts[:7].tz_localize('Europe/London')

In [147]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')

In [148]:
result = ts1 + ts2

In [149]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [150]:
p = pd.Period(2007, freq='A-DEC')

In [151]:
p

Period('2007', 'A-DEC')

In [152]:
p + 5

Period('2012', 'A-DEC')

In [153]:
p - 2

Period('2005', 'A-DEC')

In [154]:
pd.Period('2014', freq='A-DEC') - p

7

In [155]:
rng = pd.period_range('2000-01-01','2000-06-30',freq='M')

In [156]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [157]:
Series(np.random.randn(6), index=rng)

2000-01   -1.932523
2000-02    0.944513
2000-03   -1.077019
2000-04   -0.907038
2000-05    1.060519
2000-06    1.114575
Freq: M, dtype: float64

In [158]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [159]:
index = pd.PeriodIndex(values, freq='Q-DEC')

In [160]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [161]:
p = pd.Period('2007', freq='A-DEC')

In [162]:
p

Period('2007', 'A-DEC')

In [163]:
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [164]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [165]:
p = pd.Period('2007', freq='A-JUN')

In [166]:
p

Period('2007', 'A-JUN')

In [167]:
p.asfreq('M', 'start')

Period('2006-07', 'M')

In [168]:
p.asfreq('M', 'end')

Period('2007-06', 'M')

In [169]:
p = pd.Period('Aug-2007', 'M')

In [170]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [171]:
rng = pd.period_range('2006', '2009', freq='A-DEC')

In [172]:
ts = Series(np.random.randn(len(rng)), index=rng)

In [173]:
ts

2006   -2.560921
2007   -0.414002
2008   -0.473147
2009   -0.770864
Freq: A-DEC, dtype: float64

In [174]:
ts.asfreq('M', how='start')

2006-01   -2.560921
2007-01   -0.414002
2008-01   -0.473147
2009-01   -0.770864
Freq: M, dtype: float64

In [175]:
ts.asfreq('B', how='end')

2006-12-29   -2.560921
2007-12-31   -0.414002
2008-12-31   -0.473147
2009-12-31   -0.770864
Freq: B, dtype: float64

In [176]:
p = pd.Period('2012Q4', freq='Q-JUN')

In [177]:
p

Period('2012Q4', 'Q-JUN')

In [178]:
p.asfreq('D', 'start')

Period('2012-04-01', 'D')

In [179]:
p.asfreq('D', 'end')

Period('2012-06-30', 'D')

In [180]:
p = pd.Period('Aug-2007','M')

In [181]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [182]:
rng = pd.period_range('2006','2009',freq='A-DEC')

In [183]:
ts = pd.Series(np.random.randn(len(rng)),index=rng)

In [184]:
ts

2006    1.232113
2007   -1.035838
2008   -0.940899
2009    0.574347
Freq: A-DEC, dtype: float64

In [185]:
ts.asfreq("M",how='start')

2006-01    1.232113
2007-01   -1.035838
2008-01   -0.940899
2009-01    0.574347
Freq: M, dtype: float64

In [186]:
ts.asfreq('B',how='end')

2006-12-29    1.232113
2007-12-31   -1.035838
2008-12-31   -0.940899
2009-12-31    0.574347
Freq: B, dtype: float64

In [187]:
p = pd.Period('2012Q4',freq='Q-JAN')

In [188]:
p

Period('2012Q4', 'Q-JAN')

In [189]:
p.asfreq('D','start')

Period('2011-11-01', 'D')

In [190]:
p.asfreq('D','end')

Period('2012-01-31', 'D')

In [191]:
rng = pd.date_range('2001-01-01',periods=100,freq='D')

In [192]:
ts = pd.Series(np.random.randn(len(rng)),index=rng)

In [193]:
ts

2001-01-01    0.371977
2001-01-02    0.568672
2001-01-03    1.059694
2001-01-04    0.574675
2001-01-05    0.965309
2001-01-06   -0.130830
2001-01-07    2.760269
2001-01-08    1.506110
2001-01-09    0.155478
2001-01-10   -0.615050
2001-01-11    1.167855
2001-01-12    0.733682
2001-01-13   -0.520651
2001-01-14   -1.355114
2001-01-15   -0.179697
2001-01-16   -2.239893
2001-01-17    1.533726
2001-01-18   -0.015309
2001-01-19    1.735755
2001-01-20   -0.392549
2001-01-21   -0.075892
2001-01-22    1.049052
2001-01-23   -2.016343
2001-01-24    1.409391
2001-01-25    0.885606
2001-01-26    0.029390
2001-01-27    0.130297
2001-01-28    0.182258
2001-01-29   -0.576462
2001-01-30   -1.343709
                ...
2001-03-12   -0.295620
2001-03-13    0.112093
2001-03-14    0.075388
2001-03-15    1.489003
2001-03-16   -0.243240
2001-03-17   -0.391602
2001-03-18   -0.832376
2001-03-19   -0.191578
2001-03-20    0.303875
2001-03-21    0.829134
2001-03-22   -0.235913
2001-03-23    1.387293
2001-03-24    0.385887
2001-03-25   -0.524836
2001-03-26    0.546362
2001-03-27    0.458498
2001-03-28   -1.103917
2001-03-29   -1.215404
2001-03-30    0.636165
2001-03-31    0.361010
2001-04-01   -1.232708
2001-04-02    0.238559
2001-04-03   -1.121163
2001-04-04   -0.836178
2001-04-05    1.584138
2001-04-06    1.869983
2001-04-07    1.546867
2001-04-08    0.197638
2001-04-09    0.838041
2001-04-10   -0.683054
Freq: D, Length: 100, dtype: float64

In [194]:
ts.resample('M').mean()

2001-01-31    0.230228
2001-02-28   -0.270074
2001-03-31   -0.023790
2001-04-30    0.240212
Freq: M, dtype: float64

In [195]:
ts.resample('M',kind='period').mean()

2001-01    0.230228
2001-02   -0.270074
2001-03   -0.023790
2001-04    0.240212
Freq: M, dtype: float64

In [196]:
rng = pd.date_range('2000-01-01',periods=12,freq='T')

In [197]:
ts = pd.Series(np.arange(12),index=rng)

In [198]:
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int64

In [199]:
ts.resample('5min',closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int64

In [200]:
ts.resample('5min',closed='right',label='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int64

In [201]:
ts.resample('5min',closed='right',label='right',loffset='-1s').sum()

1999-12-31 23:59:59     0
2000-01-01 00:04:59    15
2000-01-01 00:09:59    40
2000-01-01 00:14:59    11
Freq: 5T, dtype: int64

In [202]:
ts.resample('5min').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

In [203]:
frame =  pd.DataFrame(np.random.randn(2,4),
                     index=pd.date_range('1/1/2000',periods=2,freq='W-WED'),
                     columns=['colorado','texas','new york','ohio'])

In [204]:
frame

            colorado     texas  new york      ohio
2000-01-05  0.184648  1.012755  0.107706  0.121319
2000-01-12 -1.241907  1.287718 -0.060627  0.154019

In [205]:
df_daily = frame.resample('D').asfreq()

In [206]:
df_daily

            colorado     texas  new york      ohio
2000-01-05  0.184648  1.012755  0.107706  0.121319
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -1.241907  1.287718 -0.060627  0.154019

In [207]:
frame.resample('D').ffill(limit=2)

            colorado     texas  new york      ohio
2000-01-05  0.184648  1.012755  0.107706  0.121319
2000-01-06  0.184648  1.012755  0.107706  0.121319
2000-01-07  0.184648  1.012755  0.107706  0.121319
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -1.241907  1.287718 -0.060627  0.154019

In [208]:
frame.resample('W-THU').ffill()

            colorado     texas  new york      ohio
2000-01-06  0.184648  1.012755  0.107706  0.121319
2000-01-13 -1.241907  1.287718 -0.060627  0.154019

In [209]:
frame = pd.DataFrame(np.random.randn(24,4),index=pd.period_range('1-2000','12-2001',freq='M'),
                    columns=['colorado','texas','new york','ohio'])

In [210]:
annual_frame = frame.resample('A-DEC').mean()

In [211]:
annual_frame

      colorado     texas  new york      ohio
2000  0.083015 -0.486063  0.217900 -0.178501
2001 -0.225985 -0.003467  0.733653  0.011987

In [212]:
annual_frame.resample('Q-DEC').ffill()

        colorado     texas  new york      ohio
2000Q1  0.083015 -0.486063  0.217900 -0.178501
2000Q2  0.083015 -0.486063  0.217900 -0.178501
2000Q3  0.083015 -0.486063  0.217900 -0.178501
2000Q4  0.083015 -0.486063  0.217900 -0.178501
2001Q1 -0.225985 -0.003467  0.733653  0.011987
2001Q2 -0.225985 -0.003467  0.733653  0.011987
2001Q3 -0.225985 -0.003467  0.733653  0.011987
2001Q4 -0.225985 -0.003467  0.733653  0.011987

In [213]:
annual_frame.resample('Q-DEC', convention='end').ffill()

        colorado     texas  new york      ohio
2000Q4  0.083015 -0.486063  0.217900 -0.178501
2001Q1  0.083015 -0.486063  0.217900 -0.178501
2001Q2  0.083015 -0.486063  0.217900 -0.178501
2001Q3  0.083015 -0.486063  0.217900 -0.178501
2001Q4 -0.225985 -0.003467  0.733653  0.011987

In [214]:
values = pd.Series(['apple','orange','apple','apple']*2)

In [215]:
values

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [216]:
pd.unique(values)

array(['apple', 'orange'], dtype=object)

In [217]:
pd.value_counts(values)

apple     6
orange    2
dtype: int64

In [218]:
values = pd.Series([0,1,0,0]*2)

In [219]:
dim = pd.Series(['apple','orange'])

In [220]:
values

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int64

In [221]:
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

In [222]:
fruits = ['apple','orange','apple','apple']*2

In [223]:
N = len(fruits)

In [224]:
df = pd.DataFrame({'fruit':fruits,
                  'basket_id':np.arange(N),
                  'count':np.random.randint(3,15,size=N),
                  'weight':np.random.uniform(0,4,size=N)},
                  columns=['basket_id','fruit','count','weight'])

In [225]:
fruit_cat = df['fruit'].astype('category')

In [226]:
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [227]:
c  = fruit_cat.values

In [228]:
type(c)

pandas.core.arrays.categorical.Categorical

In [229]:
c.categories

Index(['apple', 'orange'], dtype='object')

In [230]:
c.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

In [231]:
df['fruit'] = df['fruit'].astype('category')

In [232]:
df.fruit

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [233]:
my_categories = pd.Categorical(['foo','bar','baz','foo','bar'])

In [234]:
my_categories

[foo, bar, baz, foo, bar]
Categories (3, object): [bar, baz, foo]

In [235]:
categories = ['foo','bar','baz']

In [236]:
codes = [0,1,2,0,0,1]

In [237]:
my_cats_2 = pd.Categorical.from_codes(codes, categories)

In [238]:
my_cats_2

[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo, bar, baz]

In [239]:
my_cats_2 = pd.Categorical.from_codes(codes, categories, ordered=True)

In [240]:
my_cats_2

[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo < bar < baz]

In [241]:
my_cats_2.as_ordered

<bound method Categorical.as_ordered of [foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo < bar < baz]>

In [242]:
np.random.seed(12345)

In [243]:
draws = np.random.randn(1000)

In [244]:
draws[:5]

array([-0.20470766,  0.47894334, -0.51943872, -0.5557303 ,  1.96578057])

In [245]:
N=15

In [246]:
times = pd.date_range('2017-05-20 00:00',freq='1min',periods=N)

In [247]:
df = pd.DataFrame({'time':times,
                  'value':np.arange(N)})

In [248]:
df

                  time  value
0  2017-05-20 00:00:00      0
1  2017-05-20 00:01:00      1
2  2017-05-20 00:02:00      2
3  2017-05-20 00:03:00      3
4  2017-05-20 00:04:00      4
5  2017-05-20 00:05:00      5
6  2017-05-20 00:06:00      6
7  2017-05-20 00:07:00      7
8  2017-05-20 00:08:00      8
9  2017-05-20 00:09:00      9
10 2017-05-20 00:10:00     10
11 2017-05-20 00:11:00     11
12 2017-05-20 00:12:00     12
13 2017-05-20 00:13:00     13
14 2017-05-20 00:14:00     14

In [249]:
df.set_index('time').resample('5min').count()

                     value
time
2017-05-20 00:00:00      5
2017-05-20 00:05:00      5
2017-05-20 00:10:00      5

In [250]:
df2 = pd.DataFrame({'time':times.repeat(3),
                   'key':np.tile(['a','b','c'],N),
                   'value':np.arange(N*3.)})

In [251]:
time_key = pd.TimeGrouper('5min')

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

In [252]:
time_key

TimeGrouper(freq=<5 * Minutes>, axis=0, sort=True, closed='left', label='left', how='mean', convention='e', base=0)

In [253]:
resampled = (df2.set_index('time').groupby(['key',time_key]).sum())

In [254]:
resampled

                         value
key time
a   2017-05-20 00:00:00   30.0
    2017-05-20 00:05:00  105.0
    2017-05-20 00:10:00  180.0
b   2017-05-20 00:00:00   35.0
    2017-05-20 00:05:00  110.0
    2017-05-20 00:10:00  185.0
c   2017-05-20 00:00:00   40.0
    2017-05-20 00:05:00  115.0
    2017-05-20 00:10:00  190.0